.container {
  height: 60px;
  margin: 20px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

.left {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.center {
  flex: 1;
}

.topText {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

.bottomText {
  font-size: 26px;
  font-weight: 900;
  margin-left: -50px;
}

.right {
  background-color: black;
  color: white;
  padding: 8px;
  display: flex;
  align-items: center;
}
