.container {
  height: 60px;
  background-color: lightgray;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

.left {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
}

.center {
  flex: 1;
}

.topText {
  font-size: 12px;
}

.bottomText {
  font-size: 26px;
  font-weight: 900;
  margin-left: -50px;
}

.right {
  background-color: aliceblue;
}
